.events-heading {
  font-size: 4em;
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
}

.event-item {
  display: flex;
  align-items: center;
  gap: $base-margin;

  & > span {
    font-size: 1.2em;
  }
}

table.spacing {
  td {
    padding-right: 8px;
    padding-left: 8px;
    &:first-child {
      padding-left: unset;
    }
    &:last-child {
      padding-right: unset;
    }
  }
}

.events-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  & .vote-text {
    font-size: 1.5em;
  }

  & .title {
    padding: 25px;
  }
}

.event-item {
  display: flex;
  flex-direction: row;
}

.vote-date {
  font-size: 2em;
}
