.user-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: $base-margin;
  margin-top: $base-margin;

  &.double {
    @media screen and (min-width: 960px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
